 @import url('https://fonts.googleapis.com/css?family=Work+Sans:100&display=swap');

html { 
  background-color: red;
  background-image: 
    repeating-linear-gradient(
      90deg,
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8) 20px,
      transparent 0px,
      transparent 40px
     
         ),
   repeating-linear-gradient(
      -45deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5) 100px,
      transparent 0px,
      transparent 200px
      ),
      repeating-linear-gradient(
      45deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5) 100px,
      white 0px,
      white 200px
    );
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  background: #b06c25;
  border: 1px dashed #fff;
  padding: 1rem 3rem;
  outline:5px solid #b06c25;
  color:#fff;
  text-shadow:1px 1px #83511d;
}